<!--banner-->
<div class="container-fluid">
    <div id="home" class="row aling-items-center hero">
        <div class="col-md-4 offset-lg-2">
            <h1>TransCargo Solutions</h1>
            <h5>Tú necesidad, nuestra prioridad</h5>
        </div>
    </div>
</div>

<!--Sobre nosotros-->
<div class="card md-8 container">
    <div class="row g-6">
        <div class="col-md-3 offset-xs-6">
            <img src="/images/distribucion.png" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 offset-xs-6">
            <div class="card-bodyQuienes">
                <a id="nosotros">
                    <h4 class="card-titleQuienes">TransCargo Solutions</h4>
                </a>
                <div class="linea"></div>
                <p>Los orígenes de "TransCargo Solutions" se remontan a un garaje modesto, donde dos amigos apasionados por los camiones, Juan y Mercedes, compartían su amor por la carretera y la industria del transporte. Un día, mientras reparaban un camión juntos, se dieron cuenta de la falta de opciones especializadas para accesorios y productos de calidad. Con determinación, convirtieron ese garaje en un pequeño espacio de exhibición y comenzaron a vender repuestos, herramientas y equipo para camiones. La pasión y el enfoque en la satisfacción del cliente hicieron que "TransCargo Solutions" creciera rápidamente, ganando la confianza de los conductores locales y expandiéndose gradualmente para atender a una comunidad más amplia de entusiastas y profesionales del transporte.</p>

            </div>
        </div>
    </div>
</div>
<!--Servicios/Aliados-->
<section class="container-aliados">
    <div class="row g-6 ">
        <div class="title-aliados">
            <div class="col-md-12">
                <a id="servicios">
                    <h4>Importación y Distribución</h4>
                </a>
                <div class="linea"></div>
                <p>Con el tiempo, la visión de "TransCargo Solutions" trascendió las fronteras locales. Juan y Mercedes, movidos por su compromiso de brindar las mejores opciones a los conductores de camiones, tomaron una audaz decisión: comenzar a importar y distribuir productos de alta calidad de todo el mundo. Lo que comenzó como una tienda modesta en un garaje pronto se convirtió en un centro de distribución que conectaba a los transportistas con productos excepcionales de todos los rincones del globo. Esta expansión permitió a "TransCargo Solutions" ofrecer una gama diversa de accesorios y repuestos que antes eran difíciles de encontrar en la región. A medida que crecían sus relaciones con proveedores internacionales y su reputación de confiabilidad se extendía, "TransCargo Solutions" se convirtió en un nombre confiable en la industria del transporte, proporcionando soluciones innovadoras y productos confiables a conductores y empresas en todo el país.</p>
                <div class="img-aliados">
                    <div class="row">
                        <div class="aliados-box1 col-md-2 col-4">
                        </div>
                        <div class="aliados-box2 col-md-2 col-4">
                        </div>
                        <div class="aliados-box3 col-md-2 col-4">
                        </div>
                        <div class="aliados-box4 col-md-2 col-4">
                        </div>
                        <div class="aliados-box5 col-md-2 col-4">
                        </div>
                        <div class="aliados-box6 col-md-2 col-4">
                        </div>

                    </div>
                    <div class="row">
                        <div class="aliados-box7 col-md-2 col-4">
                        </div>
                        <div class="aliados-box8 col-md-2 col-4">
                        </div>
                        <div class="aliados-box9 col-md-2 col-4">
                        </div>
                        <div class="aliados-box10 col-md-2 col-4">
                        </div>
                        <div class="aliados-box11 col-md-2 col-4">
                        </div>
                        <div class="aliados-box12 col-md-2 col-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--Productos-->
<div class="c">
    <input type="checkbox" id="productos">
    <h3><label for="productos">Algunos de nuestros productos</label></h3>
    <div class="p">
        <ul>
            {{#each productos}}
            <li>{{producto}} </li>
            {{/each}}
        </ul>
    </div>
</div>

<!--Clientes-->
<section class="clientes">
    <div class="frame-title-clientes">
        <h4>Nuestros clientes</h4>
    </div>
    <div class="linea"></div>
    <div class="frame-clientes">
        <div class="row">
            <div class="col-md-8">
                <div class="frame-body">
                    <p>Los clientes de "TransCargo Solutions" abarcan una comunidad diversa y apasionada dentro de la industria del transporte. Desde conductores independientes hasta flotas de empresas, todos confían en "TransCargo Solutions" para satisfacer sus necesidades de accesorios y repuestos para camiones. Los conductores encuentran en "TransCargo Solutions" un socio confiable que entiende sus desafíos en la carretera y les proporciona soluciones prácticas y de calidad. Las empresas de transporte confían en la amplia gama de productos y la experiencia técnica de "TransCargo Solutions" para mantener sus flotas en funcionamiento sin problemas. Ya sea para encontrar una pieza específica, obtener asesoramiento experto o explorar las últimas innovaciones, los clientes de "TransCargo Solutions" siempre encuentran una atención personalizada y un compromiso inquebrantable con su satisfacción.
                </div>
            </div>
            <div class="col-md-1 espacio"></div>
            <div class="frame">
                <div class="col-md-3">
                    <div class="carousel">
                        <img src="./images/carousel/genvenLogo.png">
                        <img src="./images/carousel/intecapsLogo.png">
                        <img src="./images/carousel/goldDataLogo.png">
                        <img src="./images/carousel/letiLogo.png">
                        <img src="./images/carousel/oftalmiLogo.png">
                        <img src="./images/carousel/venelectronicsLogo.png">
                        <img src="./images/carousel/walcoLogo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>